.header{
    margin: 0;
    padding: 10px 2px;
    text-align: center;
    width: 100%;
    color: white;
    box-shadow: 2px 2px 6px #333;
    background-color: #43c6ac;
    font-family: cursive;
    z-index: 2;
}

